@using MenuMaster.Models
@model List<Mesa>

@{
    ViewBag.Title = "MenuMaster";
}
@section scripts {
    <script src="~/js/menuMaster/mesa.js" asp-append-version="true"></script>
}

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <a role="button" class="btn btn-primary" asp-action="Criar" asp-controller="Mesa">Cadastrar novo</a>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Mesa</a></li>
                    </ol>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Todas as mesas</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    if (!item.Ocupada && item.Disponivel)
                                    {
                                        <div class="col-md-2">
                                            <div class="small-box bg-success">
                                                <div class="inner">
                                                    <h4>Mesa: @item.Numero</h4>
                                                    <div class="dropdown">Disponível
                                                        <button class="btn btn-info btn-sm bg-gradient dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            Opções
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="#" onclick="BloquearMesa(@item.Id)">Bloquear mesa</a></li>
                                                            <li><a class="dropdown-item" asp-route-id="@item.Id" asp-controller="Mesa" asp-action="Abrir">Abrir mesa</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else if (item.Ocupada)
                                    {
                                        <div class="col-md-2">
                                            <div class="small-box bg-warning">
                                                <div class="inner">
                                                    <h4>Mesa: @item.Numero</h4>
                                                    <h6>Cliente: @item.Cliente.Nome</h6>
                                                    <div class="dropdown">
                                                        Ocupada
                                                        <button class="btn btn-info btn-sm bg-gradient dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            Opções
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" asp-route-id="@item.Id" asp-controller="Mesa" asp-action="Pedido">Realizar pedido</a></li>
                                                            <li><a class="dropdown-item" asp-route-id="@item.Id" asp-controller="Mesa" asp-action="Finalizar">Finalizar comanda</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else 
                                    {
                                        <div class="col-md-2">
                                            <div class="small-box bg-danger">
                                                <div class="inner">
                                                    <h4>Mesa: @item.Numero</h4>
                                                    <div class="dropdown">
                                                        Indisponível
                                                        <button class="btn btn-info btn-sm bg-gradient dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            Opções
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" href="#" onclick="ReativarMesa(@item.Id)">Reativar mesa</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                            else
                            {
                                <p>
                                    Não existem mesas cadastradas
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Andamento de pedidos</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            @if (Model != null)
                            {
                                @foreach (var Mesa in Model)
                                {
                                    if (Mesa.Pedidos != null)
                                    {
                                        foreach (var pedido in Mesa.Pedidos)
                                        {
                                            if (pedido.Status.ToUpper() == "COZINHA")
                                            {
                                                <div class="col-md-2">
                                                    <div class="small-box bg-info">
                                                        <div class="inner">
                                                            <h4>Mesa: @pedido.Mesa.Numero</h4>
                                                            <h6>Cliente: @pedido.Mesa.Cliente.Nome</h6>
                                                            <h6>Pedido: @pedido.MenuItem.Nome</h6>
                                                            <h6>Em Andamento na Cozinha</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else if (pedido.Status.ToUpper() == "COPA")
                                            {
                                                <div class="col-md-2">
                                                    <div class="small-box bg-info">
                                                        <div class="inner">
                                                            <h4>Mesa: @pedido.Mesa.Numero</h4>
                                                            <h6>Cliente: @pedido.Mesa.Cliente.Nome</h6>
                                                            <h6>Pedido: @pedido.MenuItem.Nome</h6>
                                                            <h6>Em Andamento na Copa</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }                                             
                                }
                            }
                            else
                            {
                                <p>
                                    Não existem mesas cadastradas
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>