@using MenuMaster.Models
@model List<MenuItem>

@{
    ViewBag.Title = "MenuMaster";
}

<section class="content">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <a role="button" class="btn btn-primary" asp-action="Criar" asp-controller="MenuItems">Cadastrar novo</a>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Cardápio</a></li>
                    </ol>
                </div>
                <br />
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Comidas</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            @if (Model != null && Model.Any())
                            {
                                @foreach (var item in Model)
                                {
                                    if (item.Tipo == "COMIDA")
                                    {
                                        if (item.Disponivel)
                                        {
                                            <div class="col-lg-3 col-6">
                                                <div class="small-box bg-success">
                                                    <div class="inner">
                                                        <h6>@item.Nome</h6>
                                                        <h6>@item.Tipo</h6>
                                                        <h6>@item.Preco</h6>
                                                        <h6>
                                                            Disponível &ensp;<a role="button" class="btn btn-info" asp-route-id="@item.Id" asp-controller="MenuItems" asp-action="Editar">Alterar disponibilidade</a>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-lg-3 col-6">
                                                <div class="small-box bg-danger">
                                                    <div class="inner">
                                                        <h6>@item.Nome</h6>
                                                        <h6>@item.Tipo</h6>
                                                        <h6>@item.Preco</h6>
                                                        <h6>
                                                            Indisponível &ensp;
                                                            <a role="button" class="btn btn-info" asp-route-id="@item.Id" asp-controller="MenuItems" asp-action="Editar">Alterar disponibilidade</a>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    
                                }                                
                            }
                            else
                            {
                                <p>
                                    Não existem itens cadastrados
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Bebidas</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            @if (Model != null && Model.Any())
                            {
                                @foreach (var item in Model)
                                {
                                    if (item.Tipo == "BEBIDA")
                                    {
                                        if (item.Disponivel)
                                        {
                                            <div class="col-lg-3 col-6">
                                                <div class="small-box bg-success">
                                                    <div class="inner">
                                                        <h6>@item.Nome</h6>
                                                        <h6>@item.Tipo</h6>
                                                        <h6>@item.Preco</h6>
                                                        <h6>
                                                            Disponível &ensp;<a role="button" class="btn btn-info" asp-route-id="@item.Id" asp-controller="MenuItems" asp-action="Editar">Alterar disponibilidade</a>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-lg-3 col-6">
                                                <div class="small-box bg-danger">
                                                    <div class="inner">
                                                        <h6>@item.Nome</h6>
                                                        <h6>@item.Tipo</h6>
                                                        <h6>@item.Preco</h6>
                                                        <h6>
                                                            Indisponível &ensp;
                                                            <a role="button" class="btn btn-info" asp-route-id="@item.Id" asp-controller="MenuItems" asp-action="Editar">Alterar disponibilidade</a>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                }
                            }
                            else
                            {
                                <p>
                                    Não existem itens cadastrados
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>